<div class="container">
    <div class="row">
        <div class="col-12 card profile-info-card">
            <h4>Your SharePoint Profile Info:</h4>
            <h5>Account Name: {{userProfile.AccountName}}</h5>
            <h5>Display Name: {{userProfile.DisplayName}}</h5>
            <h5>Email: {{userProfile.Email}}</h5>
            <h5>Job Title: {{userProfile.JobTitle}}</h5>
            <h5>Department: {{userProfile.Department}}</h5>
            <h5>Manager Email: {{userProfile.ManagerEmail}}</h5>
        </div>
    </div>
</div>


